
@media (min-width:1520px) {
    .commun-box h5 {
        font-size: 24px;
    }
}
@media (max-width:1600px) {
    .empower-text h2 {
        font-size: 18px;
        color: #461a55;
    }
    a.find-out {
        padding: 12px 12px;
    }
    .empower-text {
        margin: 16% 0 0;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 35%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 35%;
    }
    .footer-contact-det .det-box p {
    }
    .center-main-menu .dropdown-menu {
        left: 38px;
    }
    .item-new p {
    }
    .section-heading-area {
    }
    .banner-content h2 {
        padding: 9px 0 13px;
    }
    .recurting-slider-item img {
        top: -146px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 170px 0 22px 0 !important;
    }
    .scholer-conternt {
        height: 331px;
    }
    .create-legacy-sup-res .scholer-conternt {
        margin: 56px 0;
    }
    .scholer-conternt.hu-reach-schol {
        height: 443px;
    }
    .secure-content-area p, .secure-content-area h3, .secure-content-area a {
        color: #5d2468;
        line-height: 25px;
    }
    .main-nav .nav-item {
        padding: 3px 23px;
    }
    .stud-vid p {
    }
    .modal-box-news .modal-dialog {
        max-width: 62%;
    }

}
@media (max-width:1441px) {
   
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 33%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 33%;
    }
    .main-nav .nav-item .nav-link {
        font-size: 16px;
    }
    .recurting-slider-item img {
        top: -96px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 100px 0 22px 0 !important;
    }
    .recurting-slider-item p {
        font-size: 16px;
    }
    .recur-item-cont {
        padding: 158px 14px 0;
    }
    .section-heading-area {
    }
    .scholer-conternt {
        height: 334px;
        padding: 0 10% 0 60px;
    }
    .scholer-conternt p:last-child {
        padding-top: 11px;
    }
    .creat-para p {
    }
    .scholer-conternt p {
    }
    .scholer-conternt.hu-reach-schol {
        height: 400px;
        margin: 0 !important;
    }
    .secure-pay-details span {
        width: 22.4%;
    }
    .secur-tran-detail.uk-details span {
        width: 38%;
    }
    .uk-details .secure-content-area p{
        font-size: 17px;
        color: #5d2468;
        line-height: 25px;
    }
    .stud-vid p {
    }
    .footer-contact-det .det-box p {
    }
    .meet-our-team-area {
        padding: 90px 30px 100px;
    }
    .commun-box img {
        width: auto !important;
    }
    a.vide-comun-bx-set {
        width: auto;
    }
    .main-nav .nav-item {
        padding: 3px 19px;
    }
}
@media (max-width:1367px) {
    .main-nav .nav-item .nav-link {
        font-size: 14px;
    }
    .coomon-responsove-impact-slider .col-lg-4 {
        padding: 0 6px;
    }
    .center-main-menu .dropdown-menu {
        top: 31px;
    }
    .center-main-menu .dropdown .dropdown-menu .dropdown-item {
        font-size: 14px;
    }
    .section-heading-area {
    }
   
    .empower-text {
        width: 100%;
        justify-content: space-between;
        margin: 23% â€‹0 ;
    }
    .vide-area {
        height: 80%;
    }
    .empower-text h2 {
        font-size: 18px;
    }
    a.find-out {
        font-size: 14px;
        padding: 12px 12px;
        margin-left: 4px;
    }
    .commun-box h3 {
        font-size: 25px;
    }
    .commun-box p {
        font-size: 17px;
    }
    .stud-vid p {
    }
    .giving-text {
        font-size: 28px;
    }
    .item-new p {
        line-height: 20px;
    }
    .footer-contact-det .det-box h2 {
        font-size: 22px;
    }
    .footer-contact-det .det-box p a {
        font-size: 20px;
    }
    .footer-contact-det .det-box p {
        font-size: 15px;
    }
    .footer-contact-det .det-box {
        padding-bottom: 30px;
    }
    p.copy-right {
    line-height: 21px;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 32%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 32%;
    }
    .center-main-menu .dropdown-menu {
        left: 22px;
    }
    .scholer-conternt p {
    }
    .scholer-conternt {
        height: 332px;
    }
    .student-sup-in, .student-sup-in > .container, .student-sup-in > .container > .row {
    }
    .create-legacy-sup-res .scholer-conternt {
        margin: 40px 0;
    }
    .creat-para p {
        padding: 0 0 30px;
    }
    section.create-legacy-para {
        padding: 40px 0 40px;
    }
    .about-con-inner h1.sec-heading {
        padding-bottom: 15px;
    }
    .hu-reach-schol h1 {
        font-size: 40px;
    }
    .scholer-conternt.hu-reach-schol p {
        font-size: 18px;
        line-height: 25px;
    }
    .scholer-conternt.hu-reach-schol li {
        font-size: 20px;
        line-height: 35px;
    }
    .scholer-conternt.hu-reach-schol {
        height: 341px;
        margin: 0 !important;
    }
    .secur-tran-detail.uk-details span {
        width: 38%;
        font-size: 16px;
    }
    .secur-tran-detail.uk-details p {
        font-size: 17px;
    }
    .commun-banner .banner-content h1 {
        padding-bottom: 27%;
    }
    .modal-box-news .modal-dialog {
        max-width: 67%;
    }
}
@media (max-width:1281px) {
    .center-main-menu li.nav-item .nav-link {
        font-size: 14px;
    }
    .commun-box h3 {
        font-size: 20px !important;
    }
    /* .main-wraper .overlay {
        height: 96%;
    } */
    .main-wraper {
        padding: 0 0 150px;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 31%;
    }
    .empower-text {
        margin: 18% 0 0;
    }
    .main-nav .nav-item {
        padding: 3px 20px;
    }
    
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 31%;
    }
    .vide-area {
        height: 100%;
    }
    .item-new p {
        font-size: 16px;
    }
    .recurting-slider-item img {
        top: -70px;
    }
    .recurting-slider-item h4 {
        font-size: 23px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 70px 0 22px 0 !important;
    }
    .recurting-slider-item p {
        font-size: 14px;
        line-height: 20px;
    }
    .scholer-conternt {
        height: 355px;
    }
    .scholer-conternt p {
    }
    .scholer-conternt h1 {
    }
    .make-gift {
        padding: 110px 0 100px;
    }
    .secure-pay-details span {
        width: 23.4%;
    }
    .stud-vid {
        padding: 12px 10px;
    }
    .stud-vid p {
        font-size: 13px;
        padding-left: 6px;
        line-height: 16px;
    }
    .our-team-content {
        margin: 0;
    }
}
@media (max-width:1200px) {
    .lrn-more {
        padding: 9px 16px;
        font-size: 15px;
        margin-top: 14px;
    }
    .main-footer .col-lg-5:after {
        height: 100%;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 29%;
    }
    .main-nav .nav-item {
        padding: 3px 16px;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 29%;
    }
    .empower-text {
        margin: 16% auto 0;
        width: 66%;
        justify-content: space-between;
    }
    .commun-box h3 {
        font-size: 22px;
    }
    .item-new p {
        font-size: 14px;
    }
    .giv-list li h2 {
        font-size: 31px;
    }
    .giving-now p {
    }
    .footer-contact-det .det-box p {
        font-size: 14px;
        line-height: 25px;
    }
    .foot-logo img {
        width: 82%;
    }
    .footer-contact-det {
        padding-left: 0;
    }
    .footer-contact-det .det-box {
        padding-bottom: 20px;
    }
    .footer-contact-det .det-box p a {
        font-size: 16px;
    }
    .recurting-slider-item h4 {
        font-size: 21px;
    }
    .recurting-slider-item img {
        top: -126px;
    }
    .recur-item-cont {
        padding: 101px 14px 0;
    }
    .scholer-conternt {
        height: 288px;
    }
    .make-content h1 {
    }
    .make-gift {
        padding: 90px 0 80px;
    }
    .section-heading-area p {
        padding: 10px 0 0;
    }
    .team-con-box p, .team-con-box a {
        font-size: 16px;
    }
    .get-team-form .form-group input {
        height: 72px;
    }
    .get-team-form .form-group input::placeholder{
        font-size: 22px;
    }
    .get-team-form .form-group textarea::placeholder{
        font-size: 22px;
    }
    .get-team-form .form-group select {
        height: 72px;
        font-size: 20px;
    }
    .our-team-form p {
        font-size: 17px;
    }
    button.send-btn {
        height: 72px;
    }
    .impact-page-sec .stud-vid {
        padding: 12px 5px;
    }
  
}
@media(max-width:1025px){
    .impact-page-sec .stud-box p {
        font-size: 12px;
        line-height: 16px;
    }
    .impact-page-sec .stud-vid .icon-stud {
        width: 18% !important;
    }
    .center-main-menu li.nav-item .nav-link {
        font-size: 13px;
    }
    .main-nav .nav-item {
        padding: 3px 6px;
    }
    .empower-text {
        width: 80%;
    }
    
    .home-wrap{
        background-image: url(../img/main-banner.png);
        background-position: center;

    }
    .flag-menu-nav button#dropdownMenuButton {
        width: 100%;
    }
    .flag-menu-nav {
        width: 100%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 32%;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 32%;
    }
    .empower-text {
        margin: 55% auto 0;
        width: 80%;
    }
    .team-con-box p, .team-con-box a {
        font-size: 19px;
        line-height: 26px;
    }
    .our-team-form p {
        font-size: 16px;
        line-height: 26px;
    }
    .get-team-form .form-group textarea {
        height: 152px;
    }
    .get-team-form .form-group input {
        height: 63px;
    }
    .team-con-box {
        padding-bottom: 45px;
    }
    .get-team-form .form-group select {
        height: 63px;
        font-size: 18px;
    }
    .get-team-form .form-group input::placeholder{
        font-size: 18px;
    }
    .get-team-form .form-group textarea::placeholder{
        font-size: 18px;
    }
}
@media (max-width:993px) {
    section.impact-stories.our-com-impac {
        padding: 50px 15% 0;
    }
    .hs-set, .hs-set .col-lg-12, .hs-set .row {
        height: inherit;
    }
    .vid-iner {
        height: inherit;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 133px 0 22px 0 !important;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 31%;
    }
    .impact-stories {
        padding: 65px 0;
    }
    .main-nav .nav-item .nav-link {
        font-size: 13px;
    }
    .main-nav .nav-item {
        padding: 3px 5px;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 31%;
    }
    .stud-vid {
        padding: 9px 7px;
    }
    .stud-vid p {
        font-size: 14px;
    }
    .giving-box {
        margin: 0;
        position: relative;
    }
    p.copy-right {
        font-size: 13px;
        line-height: 19px;
    }
    .main-nav .nav-item .nav-link {
        font-size: 14px;
        padding: 0 10px;
    }
    /* .main-nav li.nav-item.dropdown .nav-link {
        width: 132px;
        padding: 9px 12px;
        font-size: 15px;
    } */
    .main-nav .navbar-nav.ml-auto {
        margin-right: 0 !important;
    }
    .empower-text h2 {
        font-size: 13px;
    }
    a.find-out {
        font-size: 14px;
        padding: 10px 10px;
        margin-left: 19px;
    }
    .vid-iner img {
        width: 71px;
        background: #fff;
        border-radius: 100%;
        z-index: 1;
        position: relative;
    }
    .empower-text {
        margin: 22% auto 0;
        width: 80%;
    }
    .main-head button#dropdownMenuButton {
        width: 126px;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 25%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 25%;
    }
    .banner-content h1 {
    }
    .banner-content h2 {
        font-size: 47px;
    }
    .banner-content p {
    padding: 0;
    }
    section.recurring-scholership {
        padding: 50px 9px 50px;
    }
    .recur-item-cont {
        padding: 67px 14px 10px;
    }
    .recurting-slider-item h4 {
        font-size: 18px !important;
        line-height: 20px;
        padding-bottom: 7px;
    }
    .recurting-slider-item p {
        font-size: 13px;
        line-height: 18px;
    }
    .scholer-conternt h1 {
    }
    .scholer-conternt p:last-child {
    }
    .scholer-conternt {
        height: 277px;
        padding: 0 4% 0 29px;
    }
    .creat-para p {
    }
    .create-legacy-sup-res .scholer-conternt h1 {
        font-size: 29px;
    }
    .create-legacy-sup-res .scholer-conternt p {
        font-size: 16px;
        line-height: 25px;
        padding-top: 8px;
    }
    .create-legacy-sup-res .scholer-conternt a.schol-btn {
        padding-top: 15px;
        color: #5d2468;
        font-weight: 700;
        font-size: 16px;
    }
    section.create-legacy-para {
        padding: 40px 0 0;
    }
    .creat-para p {
        padding: 0 0% 20px;
    }
    .create-legacy-sup-res .scholer-conternt {
        margin: 40px 0 !important;
    }
    .about-content-area {
        padding: 59px 74px 0;
    }
    .contact-content-area {
        padding: 60px 0 30px;
    }
    .scholer-conternt.hu-reach-schol {
        height: 300px;
    }
    .scholer-conternt.hu-reach-schol h1 {
        font-size: 30px;
    }
    .scholer-conternt.hu-reach-schol p {
        font-size: 16px;
        line-height: 22px;
    }
    .scholer-conternt.hu-reach-schol ol {
        padding-top: 0 !important;
    }
    .scholer-conternt.hu-reach-schol li {
        font-size: 16px;
        line-height: 29px;
    }
    .scholer-conternt.inte-scho p {
    }
    .secure-content-area p, .secure-content-area h3, .secure-content-area a {
        flex-direction: column;
        text-align: center;
    }
    .payments-check h3 img {
        margin-bottom: 15px;
    }
    .secure-pay-details span {
        width: 100%;
    }
    .secur-tran-detail.uk-details span {
        width: 100%;
    }
    .secur-tran-detail h3 img {
        margin-bottom: 15px;
        margin-right: 0;
    }
    a.give-now {
        margin: 0 auto 75px;
    }

    .home-wrap{
        background-image: url(../img/main-banner.png);
    }
    .main-wraper video{
        display: none;
    }
    .main-wraper .overlay{
        display: none;
    }
    .modal-inner-box {
        padding: 60px 50px;
    }
    .team-con-box p, .team-con-box a {
        font-size: 17px;
        line-height: 25px;
    }
    
    .commun-box h5 {
        font-size: 15px;
    }
   
    .vid-iner {
    display: flex;
    }
    .vid-iner a{
        position: relative;
    }
    .pinkBg {
        background-color: #fff !important;
        background-image: linear-gradient(90deg, #fff, #fff);
   }
    .intro-banner-vdo-play-btn .ripple {
        position: absolute;
        width: 170px;
        height: 170px;
        left: -48px;
        top: -51px;
        opacity: 0;
        border-radius: 100px;
        -webkit-animation: ripple 1.8s infinite;
        animation: ripple 1.8s infinite;
        z-index: 0;
   }
    .intro-banner-vdo-play-btn .ripple:nth-child(2) {
        animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
   }
    .intro-banner-vdo-play-btn .ripple:nth-child(3) {
        animation-delay: 0.6s;
        -webkit-animation-delay: 0.6s;
   }
    @-webkit-keyframes ripple {
        0% {
            opacity: 1;
            -webkit-transform: scale(0);
            transform: scale(0);
       }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
       }
   }
    @keyframes ripple {
        0% {
            opacity: 1;
            -webkit-transform: scale(0);
            transform: scale(0);
       }
        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
       }
   }
    
    
}

@media  (max-width:815px) {
    .main-footer .col-lg-5:after {
        background-color: transparent;
    }
    .main-head .navbar-light .navbar-brand {
        display: flex;
        align-items: center;
    }
    .empower-text {
        margin: 6% auto 0;
    }
    .giv-list li:after {
        right: -100px;
    }
    .main-wraper {
        padding: 7px 0 50px;
        background-position: center;
    }
    .flag-menu-nav{
        display: none !important;
    }
    header.main-head {
        padding: 0 3% 0;
    }
    .empower-text {
        width: 63%;
    }
    .footer-right {
        border-right: 1px solid transparent;
    }
    .main-nav .nav-item .nav-link {
        padding: 10px 10px;
        width: 100%;
        text-align: center;
        background: #461a55;
        border: 1px solid #fff;
        border-bottom: none;
    }
    .main-nav .nav-item:last-child .nav-link {
        border-bottom: 1px solid #fff;
    }
    .main-nav .navbar-light .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }
    .main-nav .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
        outline: none;
        padding: 0;
        margin: 0;
    }
    .main-nav li.nav-item.dropdown .nav-link {
        color: #000 !important;
        background: #fff;
    }
    .white-logo-hb {
        display: none;
    }
    .respon-logo{
        display: block;
    }
    .main-nav a.navbar-brand {
        display: flex;
        align-items: center;
    }
    .main-nav .navbar-brand span {
        font-size: 35px;
        margin-left: 15px;
    }
    .main-nav div#navbarNav {
        position: absolute;
        width: 135%;
        z-index: 999;
        top: 101px;
    }
    .main-nav nav.navbar.navbar-expand-lg.navbar-light {
        padding: 0;
    }
    .vide-area {
        height: 87%;
    }
    .sid-menu-links {
        width: 50%;
    }
    .flag-item {
        padding: 0 17px;
    }
   
    
    header.main-head {
        z-index: 0;
    }
    .modal-inner-box p {
        font-size: 20px;
    }
    .modal-inner-box {
        padding: 50px 50px 20px;
    }
    .modal-box-news .modal-dialog {
        top: 46%;
    }
    .modal-inner-box button.close {
        padding: 0;
    }
    .our-team-content {
        border-right: 1px solid #b1b1b1;
        margin-right: 15px;
        margin-bottom: 30px;
    }
    .our-team-form {
        margin-left: 15px;
    }

}
@media  (max-width:768px) {



    img.bar-scroll {
        display: none;
    }
    header.main-head.header-sticky img.bar-scroll {
        display: block;
    }
    header.main-head.header-sticky img.bar-noscroll{
        display: none;
    }
    .recur-item-cont {
        padding: 17px 14px 10px;
    }
    .recurting-slider-item h4 {
        font-size: 16px !important;
    }
    .item-new p br {
        display: none;
    }
    .stud-vid {
        padding: 9px 3px;
    }
    img.icon-stud {
        width: 24px !important;
    }
    .stud-vid p {
        font-size: 12px;
    }
    .responsove-our-comun-slider .stud-vid p {
        font-size: 14px;
        line-height: 19px;
    }
    .responsove-our-comun-slider img.icon-stud {
        width: 29px !important;
    }
    .responsove-our-comun-slider .stud-vid {
        padding: 9px 10px;
    }
    .impact-right {
        padding: 0 13px 32px;
    }
    .coomon-responsove-impact-slider {
        padding: 0 0;
    }
    .resp-column-reverse{
        flex-direction: column-reverse;
    }
    .giving-ways-box:nth-child(1), .giving-ways-box:nth-child(4) {
        width: 100%;
    }
    .giving-ways-box:nth-child(2), .giving-ways-box:nth-child(3) {
        width: 49%;
    }
    .giving-ways-box:nth-child(2) {
        margin-right: 2%;
    }
    .giving-ways-box:nth-child(1) {
        margin-right: 0;
    }
    .giving-ways-box:nth-child(3) {
        margin-right: 0;
    }
    .giving-text h3 {
        font-size: 20px !important;
    }
    a.give-read {
        font-size: 14px;
    }
    .load-more-script .col-lg-4 {
        display: block !important;
    }
    .our-com-impac a.lrn-more.load-more {
        display: none;
    }
    .community-area:after {
        height: 40%;
        border-top: 7px solid #c3a67e;
    }
    .main-head .navbar-light .navbar-brand {
        display: flex;
        align-items: center;
    }
    .main-wraper {
        padding: 7px 0 50px;
        background-position: center;
        height: 62vh;
    }
    .flag-menu-nav{
        display: none !important;
    }
    header.main-head {
        padding: 0 3% 0;
    }
    .empower-text {
        width: 63%;
    }
    .giv-list li:after {
        right: 0;
    }
   
    .commun-box h3 {
        font-size: 18px;
    }
    
    .commun-box p {
        font-size: 13px;
    }
    h1.sec-heading {
        padding-bottom: 25px;
    }
    .giving-now {
        padding: 60px 0;
    }
    .giv-list li h2 {
        font-size: 20px;
    }
    .giv-list li {
        padding: 9px 0;
    }
    .footer-right {
        border-right: 1px solid transparent;
    }
    .main-footer {
        padding: 58px 74px 45px;
    }
    .coomon-responsove-impact-slider .owl-stage {
        padding: 10px 0;
    }
    .coomon-responsove-impact-slider .owl-nav button.owl-prev {
        justify-content: space-around;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: -15px;
        border: 1px solid #5D2468;
        color: #5D2468;
        padding: 8px 8px !important;
        border-radius: 0;
    }
    .coomon-responsove-impact-slider .owl-nav button.owl-next {
        justify-content: space-around;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: -15px;
        border: 1px solid #5D2468;
        color: #5D2468;
        padding: 8px 8px !important;
        border-radius: 0;
    }
    .coomon-responsove-slider .owl-nav button.owl-prev {
        justify-content: space-around;
        position: absolute;
        top: 32%;
        transform: translateY(-50%);
        left: -15px;
        border: 1px solid #5D2468;
        color: #5D2468;
        padding: 8px 8px !important;
        border-radius: 0;
    }
    .coomon-responsove-slider .owl-nav button.owl-next {
        justify-content: space-around;
        position: absolute;
        top: 32%;
        transform: translateY(-50%);
        right: -15px;
        border: 1px solid #5D2468;
        color: #5D2468;
        padding: 8px 8px !important;
        border-radius: 0;
    }
    .main-nav .nav-item .nav-link {
        padding: 10px 10px;
        width: 100%;
        text-align: center;
        background: #461a55;
        border: 1px solid #fff;
        border-bottom: none;
    }
    .main-nav .nav-item:last-child .nav-link {
        border-bottom: 1px solid #fff;
    }
    .main-nav .navbar-light .navbar-toggler-icon {
        filter: brightness(0) invert(1);
    }
    .main-nav .navbar-light .navbar-toggler {
        color: transparent;
        border-color: transparent;
        outline: none;
        padding: 0;
        margin: 0;
    }
    .main-nav li.nav-item.dropdown .nav-link {
        color: #000 !important;
        background: #fff;
    }
    .white-logo-hb {
        display: none;
    }
    .respon-logo{
        display: block;
    }
    .main-nav a.navbar-brand {
        display: flex;
        align-items: center;
    }
    .main-nav .navbar-brand span {
        font-size: 35px;
        margin-left: 0;
    }
    .main-nav div#navbarNav {
        position: absolute;
        width: 135%;
        z-index: 999;
        top: 101px;
    }
    .main-nav nav.navbar.navbar-expand-lg.navbar-light {
        padding: 0;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 18%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 18%;
    }
    .vide-area {
        height: 87%;
    }
    .footer-right p.copy-right {
        display: none;
    }
    .footer-contact-det p.copy-right {
        display: block;
    }
    .sid-menu-links {
        width: 50%;
    }
    .flag-item {
        padding: 0 17px;
    }
    .recuring-scholer-slider {
    }
    .recurting-slider-item img {
        top: -103px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 103px 0 22px 0 !important;
    }
    section.common-shollership-area {
        padding: 0 45px 20px;
    }
    .contact-content-inner h3, .contact-content-inner a, .contact-content-inner p {
        font-size: 20px;
    }
    .contact-content-inner p {
        line-height: 28px;
    }
    .scholer-conternt.hu-reach-schol {
        margin-bottom: 25px !important;
    }
    section.impact-stories.impact-page-sec {
        padding: 59px 0 0px 30px;
    }
    .secure-accordians .card-header button .title-acc {
        font-size: 24px;
        font-weight: 700;
        color: #5d2468;
        margin-left: 31px;
    }
    .secure-accordians .card-header {
        padding: 10px 0;
    }

    .our-com-impac .stud-box {
        margin-bottom: 0;
    }
    section.impact-stories.our-com-impac {
        padding-top: 48px;
    }
    section.impact-stories.our-com-impac {
        padding: 50px 2% 0;
    }
    .impact-slider .stud-vid p {
        font-size: 14px;
    }
    header.main-head {
        z-index: 0;
    }
    .empower-text {
        margin: 24% auto 0;
    }
    .impact-page-sec .stud-box p {
        font-size: 19px;
        line-height: 25px;
    }
    .meet-our-team-area {
        padding: 47px 190px 100px;
    }
}

@media (max-width:576px) {
    a.down-arrow {
        margin-top: -25px;
    }
    .giving-text {
        bottom: 23px;
        padding-left: 13px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
    }
    .meet-our-team-area h1.sec-heading {
        font-size: 49px;
    }
    .giving-box {
        margin: 0 5px 0px !important;
    }
    
    section.way-giving {
        padding: 30px 0 50px;
    }
    .item-new p {
        line-height: 23px;
    }
    .item-new p br {
    display: none;
}
    .empower-text {
        width: 82%;
        margin: 25% auto 0;
    }
    .impact-stories {
        padding: 46px 0;
        background-position: center;
        background-size: cover;
    }
    .main-nav div#navbarNav {
        top: 141px;
        z-index: 999;
    }
    .flag-menu-nav {
        margin-top: 1px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .main-nav div#navbarNav {
        width: 100%;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 8%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 8%;
    }
    .flag-menu-nav .dropdown {
        width: 25%;
    }
    .vide-area {
        height: 100%;
    }
    .foot-logo img {
        width: 65%;
    }
    .sid-menu-givesnow {
        width: 100%;
    }
    .sid-menu-links {
        width: 100%;
    }
    .section-heading-area p {
        font-size: 13px;
        line-height: 20px;
    }
    .section-heading-area {
        padding: 0 10% 33px;
    }
    .recurting-slider-item img {
        top: -112px;
        padding: 0 8px;
    }
    .recurting-slider-item h4 {
        font-size: 14px;
        line-height: 16px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 131px 0 22px 0 !important;
    }
    .section-heading-area {
        padding: 0 10% 19px;
    }
    .scholer-conternt p:last-child {
        font-size: 15px;
    }
    .make-content h1 {
    }
    .make-gift {
        padding: 70px 0 60px;
    }
    .banner-content h1 {
    font-size: 28px !important;
    }
    .banner-content h2 {
        font-size: 23px !important;
    }
    .banner-content p {
        font-size: 18px;
        line-height: 25px;
    }
    .p-xs-0 {
        padding: 0;
    }
    .creat-para p {
        padding: 0 10% 18px;
    }
    .create-legacy-sup-res .scholer-conternt {
        height: 305px;
    }
    .about-content-area {
        padding: 59px 24px 0;
    }
    .contact-content-inner h3, .contact-content-inner a, .contact-content-inner p {
        font-size: 15px;
    }
    .contact-content-inner p {
        line-height: 24px;
    }
    .scholer-conternt.inte-scho {
        height: auto;
        padding: 30px 29px;
    }
    .scholer-conternt.inte-scho p {
        font-size: 15px !important;
    }
    .sec-bottom-con p {
        padding: 0 0;
    }
    .secure-accordians .card-header button .title-acc {
        font-size: 21px;
    }
    .secure-accordians .card-header {
        padding: 3px 0;
    }
    .modal-box-news .modal-dialog {
        max-width: 100%;
    }
    .meet-our-team-area {
        padding: 45px 30px 40px;
    }
    .impact-page-sec .stud-box p {
        font-size: 21px;
        line-height: 25px;
    }
    .impact-stories.impact-page-sec .owl-stage {
        padding: 0 0 3px !important;
    }
    .impact-page-sec .stud-box p {
        font-size: 14px;
        line-height: 19px;
    }
    .commun-box h3 {
        font-size: 17px !important;
    }
    .section-heading-area h1 {
        font-size: 29px !important
    }
    .our-team-form h1 {
        font-size: 29px !important;
    }
   
}
@media (max-width:415px) {
    .giving-ways-box:nth-child(2) {
        margin-right: 0;
    }
    .para-ara-con p {
        font-size: 14px;
    }
    img.des-none {
        display: block;
    }
    img.des-show {
        display: none;
    }
    .giving-ways-box:nth-child(2), .giving-ways-box:nth-child(3) {
        width: 100%;
    }
    .giving-ways-box:nth-child(3) {
        margin-bottom: 15px;
    }
    .item-new p {
        font-size: 15px;
    }
    .empower-text {
        width: 93%;
        flex-direction: column;
        margin: 32% auto 0;
    }
    .empower-text h2 {
        font-size: 12px;
    }
    a.find-out {
        font-size: 12px;
        padding: 8px 10px;
        margin: 10px 0 0;
    }
    .para-ara-con {
        padding: 30px 0 0;
    }
    h1.sec-heading {
        font-size: 40px;
    }
    .impact-stories {
        padding: 53px 0;
    }
    section.way-giving {
        padding: 90px 28px 20px;
    }
    .stud-vid p {
        font-size: 15px;
    }
    .new-inner {
        padding: 40px 32px 30px;
    }
    .giv-list li {
    }
    .giv-list li:nth-child(2),.giv-list li:nth-child(3) {
    }
    .giv-list li h3 {
        font-size: 16px !important;
    }
    .giving-now {
        padding: 31px 0 19px;
    }
    section.impact-stories.our-com-impac .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: -12px !important;
        margin-bottom: 13px;
    }
    .recuring-scholer-slider .owl-dots {
        margin-top: 0 !important;
    }
    .giv-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .giv-list li:after {
        display: none;
    } */
    .main-footer {
        padding: 58px 14px 45px;
    }
    .giving-text {
        font-size: 19px;
    } 
    .giv-list {
        padding-top: 13px;
    }
    .main-wraper {
        padding: 28px 0 40px;
    }
    section.way-giving {
        padding: 50px 28px 20px;
    }
    .main-nav .navbar-brand span {
        font-size: 32px;
        margin-left: 0;
        font-weight: 600;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 10%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 10%;
    }
    .flag-menu-nav .dropdown {
        width: 35%;
    }
    .main-head .navbar-light .navbar-brand {
        width: 38%;
    }
    .footer-contact-det .det-box p span {
        font-size: 0;
        display: block;
        line-height: 0;
    }
    .main-nav .navbar-brand span {
        font-size: 29px;
    }
    .foot-logo img {
        width: 56%;
    }
    .recurting-slider-item img {
        top: -112px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 122px 0 22px 0 !important;
    }
    section.recurring-scholership {
        padding: 34px 0 40px;
    }
    .scholer-conternt {
        height: 350px;
    }
    .scholer-conternt h1 {
        font-size: 29px !important;
    }
    .p-xs-0{
        padding: 0 !important;
    }
    .banner-content h2 {
        padding: 6px 0;
    }
    .banner-content p {
        line-height: 23px;
    }
    section.common-shollership-area {
        padding: 0 23px 20px;
    }
    .creat-para p {
        padding: 0 4% 18px;
    }
    .creat-para p {
        font-size: 16px;
    }
    .create-legacy-sup-res .scholer-conternt {
        padding: 10px 4% 10px 29px;
    }
    .create-legacy-sup-res .scholer-conternt {
        height: 400px;
    }
    .about-con-inner h4 {
        line-height: 29px;
        font-size: 25px;
    }
    .scholer-conternt.hu-reach-schol {
        height: 410px;
    }
    section.impact-stories.impact-page-sec {
        padding: 59px 0 0px 10px;
    }
    .secure-accordians {
        padding: 55px 0;
    }
    .secure-content-area p, .secure-content-area h3, .secure-content-area a {
        font-size: 15px;
    }
    .modal-inner-box p {
        font-size: 17px;
        line-height: 25px;
    }
    .modal-box-news .modal-dialog {
        top: 48%;
    }
    .our-team-content {
        padding: 35px 15px;
    }
    .team-con-box p, .team-con-box a {
        font-size: 15px;
    }
    .team-con-box h2 {
        font-size: 35px;
        padding-bottom: 6px;
    }
    .our-team-form {
        padding: 25px;
    }
    .our-team-form p {
        font-size: 16px;
        line-height: 25px;
    }
    button.send-btn {
        height: 58px;
        font-size: 18px;
    }
    .get-team-form .form-group textarea {
        height: 112px;
    }
    .get-team-form .form-group select {
        height: 55px;
        font-size: 18px;
    }
    .get-team-form .form-group input {
        height: 55px;
    }
    .meet-our-team-area {
    margin: 0px 0;
    padding: 27px 8px 40px;
    }
    .impact-page-sec .stud-box p {
        font-size: 17px;
    }
    .recur-item-cont {
        padding: 97px 14px 10px;
    }
    h1.sec-heading {
        font-size: 30px !important;
    }
    /* .community-area {
        padding: 52px 17% 100px;
    } */
    .community-area {
        padding: 52px 5% 100px;
    }
    .impact-stories .coomon-responsove-impact-slider {
        padding: 0 5%;
    }
    .community-area .owl-stage {
        padding-top: 21px;
    }
    .commun-inner .owl-theme .owl-nav {
        top: 36px;
    }
    .community-area a.view-all {
        top: 36px;
    }
    .stud-box {
        box-shadow: 2px 0 13px 2px #00000017;
    }
    .giv-list li a img {
        width: 36px;
    }
    
}
@media (max-width:376px) {
    .main-head .navbar-light .navbar-brand {
        width: 46%;
    }
    .new-inner {
        padding: 40px 0 30px;
    }
    .giving-now p {
    }
    section.way-giving {
        padding: 50px 0 20px;
    }
    .impact-stories {
        padding: 26px 0;
    }
    .empower-text {
        width: 94%;
        padding: 10px 14px 10px 11px;
    }
    .empower-text {
        flex-wrap: wrap;
        justify-content: center;
    }
    .para-ara-con p {
    }
    .main-nav .navbar-brand span {
        margin-left: 8px;
        font-weight: 600;
    }
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: 5%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: 5%;
    }
    .flag-menu-nav .dropdown {
        width: 38%;
    }
    .make-content h1 {
        font-size: 30px !important;
    }
    .make-gift {
        padding: 50px 0 40px;
    }
    .banner-content h1 {
        font-size: 43px;
    }
    .create-legacy-sup-res .scholer-conternt {
        padding: 10px 3% 10px 13px;
        height: 407px;
    }
    .about-con-inner p {
        font-size: 16px;
    }
    .impact-slider .stud-vid p {
        font-size: 12px;
        line-height: 18px;
    }
    .modal-inner-box {
        padding: 55px 20px 10px;
    }
    .modal-inner-box .close img {
        width: 51%;
    }
    .modal-inner-box button.close {
        padding: 8px 0;
    }
    .meet-our-team-area {
    }
    .team-con-box p, .team-con-box a {
        font-size: 13px;
        line-height: 19px;
    }
    .our-team-form p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width:321px) {
    .commun-inner .owl-theme .owl-nav .owl-prev {
        left: -4%;
    }
    .commun-inner .owl-theme .owl-nav .owl-next {
        right: -4%;
    }
    .flag-menu-nav .dropdown {
        width: 46%;
    }
    .stud-vid p {
        font-size: 13px;
        line-height: 16px;
    }
    .recurting-slider-item img {
        top: -68px;
    }
    .recuring-scholer-slider .owl-stage {
        padding: 83px 0 22px 0 !important;
    }
    .scholer-conternt p:last-child {
        font-size: 14px;
        line-height: 22px;
    }
    .scholer-conternt {
        padding: 0 4% 0 13px;
    }
    
    .about-content-area {
        padding: 39px 0 0;
    }
    section.impact-stories.impact-page-sec {
        padding: 59px 0 0px 0px;
    }
    .impact-page-sec .stud-box p {
        font-size: 14px;
    }
}