@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    
    scroll-behavior: smooth;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
    text-decoration: none;
}
.overflowhidden {
    overflow: hidden;
}

b {
    font-weight: 600;
}
p{
    font-size: 15px;
}
@font-face {
    font-family: 'ArnoPro';
    src: url('../fonts/ArnoPro-Regular.woff2') format('woff2'),
        url('../fonts/ArnoPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Main Banner */
   /* header */

header.main-head.header-sticky {
    position: fixed;
    width: 100%;
 /* background-image: linear-gradient( 
    0deg
     , rgba(47,18,52,1) 0%, rgba(93,36,104,1) 52%); */
    
    z-index: 999;
    padding: 0px 3% 0px;
    background-color: rgb(253 253 253 / 72%) !important;
    box-shadow: 0 0 24px 0px rgb(0 0 0 / 13%);
    top: 0;
    animation: smoothScroll 1s forwards;
    /* filter: blur(10px); */
    backdrop-filter: blur(16px) saturate(180%);
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.header-sticky .white-logo-hb img {
    width: 57%;
}
.header-sticky .giving-title {
    color: #5d2468;
}

.header-sticky .center-main-menu li.nav-item .nav-link {
    color: #5d2468 !important;
}
.header-sticky .flag-menu-nav button#dropdownMenuButton {
    border: 1px solid #5d2468;
    background-color: transparent;
}
.header-sticky .center-main-menu .nav-item .nav-link:after {
    background: #5d2468;
}
.flag-menu-nav .dropdown a.dropdown-item:hover {
    background-color: #f9f3e4;
}
.main-nav .nav-item {
    font-size: 18px;
    padding: 13px 39px;
    color: #fff !important;
}
header.main-head {
    padding: 28px 3% 0px;
    position: relative;
    z-index: 999;
}
.flag-menu-nav li.nav-item.dropdown {
    background: #fff;
    margin-left: 27px;
}

.flag-menu-nav li.nav-item.dropdown .nav-link {
    font-weight: 700;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 11px 12px;
    align-items: center;
    font-size: 16px;
}

/* .main-nav .navbar-nav.ml-auto {
    margin-right: 35px !important;
} */

.main-nav .nav-item {
    display: flex;
    align-items: center;
}

.flag-menu-nav .nav-item .dropdown-menu {
    border-radius: 0;
    margin: auto;
    padding: 0;
    min-width: 101%;
}
.flag-menu-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 8px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.center-main-menu li.nav-item.dropdown.show a i {
    transform: rotateX(
180deg
);
}
.flag-menu-nav .dropdown.show button i{
    transform: rotateX(
180deg
);
}
.respon-logo{
    display: none;
}
.giving-title {
    font-size: 52px;
    color: #ffff;
    font-family: 'ArnoPro';
    font-weight: 700;
}
.flag-menu-nav button#dropdownMenuButton {
    color: #5d2468 !important;
    font-weight: 700;
    width: 176px;
    display: flex;
    justify-content: space-between;
    padding: 11px 12px;
    align-items: center;
    font-size: 16px;
    border: none;
    background-color: #fff;
    outline: none;
}
.main-nav .nav-item .nav-link i {
    font-size: 14px;
    margin-left: 6px;
}
.main-nav nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
}
.flag-menu-nav {
    width: 176px;
}
.dropdown-toggle::after{
    display: none;
}
.flag-menu-nav .dropdown {
    width: 100%;
}
.flag-menu-nav.dropdown .dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin-top: -1px;
    width: 100%;
}
span.flg-item {
    display: flex;
    justify-content: space-between;
    color: #461a55;
    align-items: center;
}
.center-main-menu li.nav-item .nav-link {
    color: #fff !important;
    transition: all 0.5s;
    font-size: 16px;
}
.center-main-menu .dropdown .dropdown-menu .dropdown-item {
    padding: 11px 13px;
    border-bottom: 1px solid #ddd;
    color: #461a55;
    line-height: 19px;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
}
.center-main-menu .dropdown .dropdown-menu .dropdown-item img {
    margin-right: 10px;
    width: 23px;
}
.flg-item img {
    width: 23px;
}
.flag-item a img {
    width: 23px !important;
}
.center-main-menu .dropdown-menu {
    position: absolute;
    top: 35px;
    left: 30px;
    padding: 0;
    border-radius: 0;
    perspective: 1000px
}
.center-main-menu li.nav-item:hover .nav-link i {
    transform: rotate(
536deg);
}
.dropdown_menu-6{
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
.flag-menu-nav .dropdown a.dropdown-item {
    padding: 10.5px 11px !important;
    border-bottom: 1px solid #ddd;
}

.flag-menu-nav .dropdown .dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #ddd;
}
.side-menu-inner{
    padding: 0 20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.sid-menu-links li {
    list-style: none;
}
.sid-menu-links {
    padding-top: 45px;
}
.sid-menu-links a i {
    font-size: 14px;
}
ul.sub-menu {
    padding: 0 17px;
}
.drops-menu-anim > a{
    font-weight: 600;
    transition: all .5s;
}
.drops-menu-anim a i{
    transform: rotateX(180deg);
    transition: all .5s;
}
.center-main-menu li.nav-item {
    background: transparent !important;
    transition: all 0.5s;
}
.main-head li.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.sub-menu li a {
    padding: 14.5px 0 !important;
    font-size: 18px !important;
    border-bottom: 1px solid #C9C9C9;
    line-height: 25px;
}
.sid-menu-links a {
    padding: 15px 0;
    text-decoration: none;
    font-size: 22px;
    color: #5D2468;
    display: block;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.drops-menu > a {
    display: flex;
    justify-content: space-between;
}
.sid-menu-links a img {
    margin-right: 10px;
    width: 23px;
}
  .side-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sid-menu-givesnow a {
    display: flex;
    align-items: center;
    padding: 14.5px 0;
    color: #5D2468;
    font-size: 18px;
    border-bottom: 1px solid transparent;
}
.sid-menu-givesnow a img {
    margin-right: 10px;
}

.sid-menu-givesnow a img {
    width: 23px !important;
}

.sid-menu-givesnow {
    width: 50%;
}



.sid-menu-givesnow h2 {
    font-size: 22px;
    font-weight: 700;
    color: #5D2468;
    padding-top: 20px;
    padding-bottom: 15px;
}
.center-main-menu .nav-item .nav-link:after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e2d7bc;
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: all .5s;
}
.center-main-menu .dropdown .dropdown-menu .dropdown-item:hover {
    background: #f9f3e4;
}
.center-main-menu .nav-item .nav-link:hover:after{
    width: 100%;
}
.nav-item.dropdown.show .nav-link:after{
    width: 100% !important;
}

.center-main-menu .nav-item .nav-link{
    padding: 0 !important;
    position: relative;
    transition: all 0.5s;
}
   /* header */

.main-wraper{
    /* background-image: url(../img/main-banner.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 81vh;
    position: relative;
}
.home-wrap{
    overflow: hidden;
    height: 100vh;
}
.main-wraper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
  }
.main-wraper video {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.vide-area {
    height: 84%;
    display: flex;
    align-items: flex-end;
}
.vid-iner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 320px; */
    display: none;
}
.empower-text {
    background: rgba(255, 255 , 255, 0.75);
    padding: 10px 14px 10px 27px;
    display: flex;
    border-radius: 0;
    align-items: center;
    width: 97%;
    margin: 204px 0 0;
    justify-content: space-around;
}
.empower-text h2 {
    font-size: 27px;
    color: #461a55;
}
a.down-arrow {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.down-arrow img {
    width: 35px;
    animation-name: arrowanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrowanim {
    0%   {transform: translateY(0);}
    50%  {transform: translateY(20px);}
    100% {transform: translateY(0);}
}
.empower-text h2 span {
    font-weight: 700;
    text-transform: uppercase;
}
a.find-out {
    background-color: #461a55;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px;
    margin-left: 35px;
    border: 1px solid transparent;
    transition: all 0.5s;
}
a.find-out:hover {
    border: 1px solid #461a55;
    background-color: #fff;
    color: #461a55;
}
/* Main Banner */



/* Para Area */
.para-ara-con p {
    text-align: center;
    line-height: 26px;
    color: #5D2468;
}
.para-ara-con {
    padding: 70px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lrn-more {
    padding: 13px 22px;
    border: 1px solid #5D2468;
    font-size: 18px;
    color: #5D2468 !important;
    margin-top: 34px;
    transition: all 0.5s;
}
.impact-stories .lrn-more{
    border-color: #fff;
}
.impact-stories .lrn-more:hover{
    background-color: #fff;
    color: #5D2468;
}
.load-more-script .col-lg-4 {
    display: none;
    margin-bottom: 25px;
}
/* Para Area */


/* Community Area */
.community-area {
    position: relative;
    padding: 52px 20% 100px;
    background: url(../img/our-community.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.commun-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .community-area:after {
    background-image: linear-gradient(180deg, #5d2468, #301234);
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 10px solid #c3a67e;
} */
.commun-box h5 {
    text-align: center;
    font-weight: 600;
    color: #5d2468;
    margin-top: 15px;
}

.commun-box p {
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
    color: #fff;
}
.commun-box img {
    border: 5px solid #CFB381;
    width: 100% !important;
    box-shadow: 2px 0 13px 2px #00000061;
    transition: all .5s;
}
a.vide-comun-bx-set {
    width: 100%;
}
.commun-box img:hover {
    border-color: #5d2468;
}
h1.sec-heading {
    padding-bottom: 40px;
    text-align: center;
    color: #5D2468;
    font-family: 'ArnoPro';
    font-weight: 700;
}
.commun-inner .owl-nav i {
    border: 1px solid #5D2468;
    color: #5D2468;
    padding: 11px 16px;
}
.community-area a.view-all {
    position: relative;
    top: 54px;
}
.view-all {
    font-size: 20px;
    color:#5D2468;
    border: 1px solid #5D2468;
    padding: 9px 34px;
    z-index: 9;
    transition: all 0.5s;
    margin: 4px auto;
    display: table;
    position: relative;
    top: 78px;
}
.view-all:hover{
    background-color:#5D2468;
    color: #fff;
}
.commun-inner .owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top: 53px;
}
.commun-inner .owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: 37%;
}

.commun-inner .owl-theme .owl-nav .owl-next {
    position: absolute;
    right: 37%;
    top: 0;
}
button.owl-prev.disabled {
    opacity: 1 !important;
}
button.owl-next.disabled {
    opacity: 1 !important;
}

.view-all-btn {
    display: flex;
    justify-content: center;
    margin-top: 0;
    position: relative;
    top: 77px;
}
.commun-inner .owl-theme .owl-nav [class*=owl-]:hover ,.commun-inner .owl-theme .owl-nav [class*=owl-]:hover i{
    background: #5D2468 !important;
    color: #fff !important;
}
/* Community Area */

/* Impact Stores */
.stud-vid {
    display: flex;
    padding: 12px 8px;
    align-items: flex-start;
}
.stud-box img {
    width: 100%;
}

img.icon-stud {
    width: 39px !important;
}
.stud-vid p {
    line-height: 22px;
    padding-left: 11px;
    color: #5C2568;
}
.stud-box {
}
.stud-box:hover {
    background-color: #5d2468;
    transition: all 0.5s;
}
.stud-box:hover p{
    color: #fff;
    transition: all 0.5s;
}
.stud-box:hover .stud-vid img{
    filter: brightness(0) invert(1);
    transition: all 0.5s;
}
.stud-box > img {
    width: 100%;
}
.impact-stories {
    padding: 165px 0;
}
.impact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
.impact-right p, .impact-right h1 {
    color: #fff;
    text-align: left;
}

.impact-right p {
    line-height: 25px;
}

.impact-right h1 {
    padding-bottom: 15px;
}
.impact-bg{
    background: url(../img/impact-stories-bg.png);
    background-repeat: no-repeat;
    margin-top: 0;
    border-top: 8px solid #c3a67e;
}
.fancybox-content {
    background: transparent !important;
}
.stud-box {
    box-shadow: 2px 0 13px 2px #00000061;
    background: #fff;
    transition: all 0.5s;
    cursor: pointer;
}
.impact-stories .lrn-more {
    display: table;
}
.lrn-more:hover {
    background: #5D2468;
    color: #fff !important;
}

/* Impact Stores */


/* Ways Of Giving */
.giving-ways-box:nth-child(1), .giving-ways-box:nth-child(4) {
    width: calc(59% - 15px);
}
.giving-ways-box:nth-child(2), .giving-ways-box:nth-child(3) {
    width: calc(41% - 6px);
}
.giving-ways-box:nth-child(1),.giving-ways-box:nth-child(2) {
    margin-bottom: 15px;
}
.giving-ways-box:nth-child(3) {
    margin-right: 15px;
}

.giving-ways-box:nth-child(1) {
    margin-right: 15px;
}
.giving-ways-box {
    position: relative;
    overflow: hidden;
}
/* a.way-clicks {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} */
.giving-ways-main {
    display: flex;
    flex-wrap: wrap;
}
.giving-box img {
    width: 100%;
    transform: scale(1);
    transition: all .5s;
}
img.des-none {
    display: none;
}

.giving-ways-box:hover .giving-box img {
    transform: scale(1.2);
}
.giving-box {
    position: relative;
}
.iner-gv-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/image-overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* .iner-gv-box:hover .giving-text{
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgb(0 0 0 / 40%);
} */
.iner-gv-box {
    position: relative;
    transition: all .5s;
}
section.way-giving {
    padding: 90px 0;
}
.giving-text h3 {
    font-family: 'ArnoPro';
}
a.give-read {
    font-weight: 600;
    color: #cfb381;
    border-bottom: 2px solid #cfb381;
    margin-top: 7px;
    display: table;
    font-size: 16px;
}
.giving-text {
    position: absolute;
    width: 100%;
    bottom: 40px;
    color: #fff;
    text-align: left;
    z-index: 1;
    transition: all .5s;
    text-transform: capitalize;
    display: table;
    padding-left: 30px;
}
/* .iner-gv-box:hover .giving-text {
    bottom: 60px;
} */



/* News Area */
.new-inner {
    padding: 70px 0 60px;
}
.new-inner .owl-item{
    border: 3px solid transparent;
    transition: all .5s;
    cursor: pointer;
}
.new-inner .owl-item:hover {
    border: 3px solid white;
}
.item-new p {
    padding: 10px;
    line-height: 24px;
    color: #5D2468;
    font-weight: 500;
}
.item-new {
    background: #fff;
    box-shadow: 0px 0 12px 2px #0d0d0d2e;
    height: 100%;
}
.new-inner .owl-stage {
    display: flex;
    padding-block: 10px;
}
.new-inner .owl-theme .owl-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 128px;
    margin: 24px auto;
    position: relative;
    z-index: 999;
}
.new-inner .owl-nav i {
    border: 1px solid #fff;
    color: #fff;
    padding: 11px 16px;
}

.new-inner .owl-theme .owl-nav [class*=owl-]:hover ,.new-inner .owl-theme .owl-nav [class*=owl-]:hover i{
    background: #fff !important;
    color: #5D2468 !important;
}
.new-area{
    background-image:url(../img/new-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.new-inner .sec-heading {
    color: #fff !important;
}
/* News Area */



/* Give Now */
.giving-now p {
    text-align: center;
    color: #5D2468;
    line-height: 25px;
}

.giving-now .sec-heading {
    padding-bottom: 30px;
    font-family: 'ArnoPro';
}

.giv-list {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.giv-list li h3 {
    color: #5D2468;
    font-weight: 700;
}
.give-now-inner h2 {
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
    color: #5d2468;
    font-family: 'ArnoPro';
}
/* a.donate-now i {
    font-size: 15px;
}
a.donate-now {
    font-size: 18px;
    border: 1px solid #5D2468;
    padding: 12px 18px;
    color: #5D2468;
    margin-top: 28px;
    transition: all 0.5s;
    font-weight: 600;
}
a.donate-now:hover {
    background: #5d2468;
    color: #fff;
} */
.giv-list li a img {
    margin-bottom: 14px;
}
.giv-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 0;
    position: relative;
    width: 33%;
}
.giving-now {
    padding: 90px 0;
}
.giv-list li:after {
    background: #5d2468;
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
}
.giv-list li:last-child:after {
    display: none;
}
/* Give Now */


/* footer */
.main-footer{
    padding: 58px 134px 45px;
    background: #5D2468;
    position: relative;
}
.main-footer .col-lg-5:after {
    position: absolute;
    top: 0;
    content: '';
    width: 1px;
    background-color: rgb(255 255 255);
    right: 5%;
    height: 91%;
}
.foot-logo {
    display: flex;
    align-items: center;
}
.footer-contact-det p.copy-right {
    display: none;
}
.footer-right .top-span {
    margin-left: 12px;
}
.top-span h4 {
    font-size: 27px;
    color: #fff;
    border-bottom: 1px solid;
    padding: 10px 0;
}
.top-span h4:last-child {
    border-bottom: transparent;
    padding-bottom: 0;
}
.social-links h4 {
    font-weight: 700;
    color: #fff;
}

.social-links {
    padding: 42px 0 30px;
}
ul.socail-list {
    display: flex;
    margin-top: 21px;
}

.socail-list li {
    margin-right: 23px;
}
.copy-right a {
    /* font-size: 14px; */
    color: #fff;
}
.copy-right a:hover {
   text-decoration: underline;
}

.socail-list li a i {
    font-size: 20px;
    color: #Fff;
}
p.copy-right {
    font-size: 14px;
    color: #fff;
}
.footer-right {
    /* border-right: 1px solid #fff; */
}
.footer-contact-det .det-box h4 {
    font-weight: 700;
    color: #fff;
    padding-bottom: 7px;
}

.footer-contact-det .det-box {
    padding-bottom: 36px;
}

.footer-contact-det .det-box p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

.footer-contact-det .det-box p a {
    color: #fff;
}

.footer-contact-det .det-box p a span {
    padding: 0 30px;
}

.footer-contact-det .det-box p span {
    padding: 0 9px;
}
/* .footer-contact-det {
    padding-left: 19px;
} */
.owl-carousel{
    margin: 0 !important;
}
/* footer */




/* STUDENT SUPPORT PAGE CSS */

/* Banner */
.banner-content h1 {
    font-family: 'ArnoPro';
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    transition: all 0.5s;
}

h1 {}

.banner-content h2 {
    font-family: 'ArnoPro';
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 15px 0 17px;
}

.banner-content p {
    font-size: 19px;
    color: #fff;
    text-align: center;
    line-height: 29px;
    padding: 0 8%;
}


.student-support {
    background-image: url(../img/student-support/student-support-bg.webp);
    background-repeat: no-repeat;
}
.student-sup-in{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
/* .student-sup-in, .student-sup-in > .container,.student-sup-in > .container > .row{
    height: 90%;
} */
/* Banner */

/* Recurring Scholerships */

.section-heading-area h1 {
    font-size: 50px;
    font-weight: 700;
    color: #5f2468;
    font-family: 'ArnoPro';
    text-align: center;
}
.recuring-scholer-slider .owl-stage {
    padding: 109px 0 22px 0 !important;
    display: flex;
}

.section-heading-area p {
    text-align: center;
    color: #5f2468;
    padding: 20px 0 0;
    line-height: 26px;
}

.section-heading-area {
    padding: 0 0% 50px;
    text-align: center;
}
.recurting-slider-item h4 {
    font-weight: 700;
    line-height: 24px;
    color: #5d2468;
    padding: 20px 0 15px;
}

.recurting-slider-item p {
    line-height: 25px;
    color: #5d2468;
}
.our-com-impac a.lrn-more.load-more {
    margin: 0 auto 0;
    border-color: #5D2468;
}
.recurting-slider-item {
    border: 1px solid #b1b1b1;
    height: 100%;
    position: relative;
}
.recuring-scholer-slider .owl-dots {
    margin-top: 10px !important;
}
.recur-item-cont {
    padding: 90px 14px 20px;
    text-align: left;
}
.recurting-slider-item img {
    position: absolute;
    top: -140px;
    padding: 0 2%;
}
section.recurring-scholership {
    padding: 70px 0 60px;
}
.recurring-scholership {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    /* cursor: url(../img/icon-move-light.png), auto; */
    flex-direction: column;
    height: 100%;
}
/* Recurring Scholerships */

/* Common Scholership area */
section.common-shollership-area {
    padding: 0 45px 70px;
}
.scholer-images img {
    width: 100%;
}
.scholer-conternt h1 {
    font-family: 'ArnoPro';
    color: #5f2468;
    font-weight: 700;
}

.scholer-conternt p {
    line-height: 25px;
    padding-top: 13px;
    color: #5d2468;
}

.scholer-conternt {
    border: 1px solid #b1b1b1;
    padding: 0 18% 0 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 310px;
}
/* Common Scholership area */

/* Make A Gift */
.make-gift {
    background-image: url(../img/student-support/make-gift-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    padding: 130px 0 120px;
}
.make-content h1 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    font-family: 'ArnoPro';
    font-weight: 700;
    padding-bottom: 25px;
}

a.explor-btn {
    padding: 13px 13px;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s;
}

.make-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a.explor-btn:hover {
    background-color: #fff;
    color: #5d2468;
    border-color: #5d2468;
    box-shadow: 0 0 5px 1px #ffffff4d;
}
/* Make A Gift */

/* STUDENT SUPPORT PAGE CSS */



/* CREATE LEGACY PAGE CSS */

/* Banner */
.create-legacy{
    background-image: url(../img/create-legacy/banner-image.webp);
    background-repeat: no-repeat;
}
/* Banner */

/* Common Scholership area */
a.schol-btn {
    padding-top: 15px;
    color: #5d2468;
    font-weight: 700;
    font-size: 18px;
}
/* Common Scholership area */

/* Para Area */
.creat-para p {
    text-align: center;
    line-height: 25px;
    padding: 0 0 35px;
    color: #5d2468;
}

section.create-legacy-para {
    padding: 70px 0 65px;
}
/* Para Area */

/* CREATE LEGACY PAGE CSS */


/* INTELLACTUAL PAGE CSS */
/* banner */
.intellactual{
background-image: url(../img/intellactual/banner-image.webp);
}
/* banner */

.serprator{
    height: 70px;
}
.scholer-conternt p:last-child {
    padding-top: 20px;
}
/* INTELLACTUAL PAGE CSS */


/* UI REACH AMBASSADOR PAGE */
/* banner */
.hu-ambassador{
    background-image: url(../img/hu-amabsseder/banner-image.webp);
    background-repeat: no-repeat;
}
/* banner */

/* Common Scholership area */

.scholer-conternt li {
    line-height: 35px;
    color: #5d2468;
    font-weight: 700;
}

.scholer-conternt ol {
    padding-top: 15px;
    list-style: auto;
    padding-left: 30px;
}
/* Common Scholership area */

/* UI REACH AMBASSADOR PAGE */



/* MAKE A GIFT PAGE */
/* Banner */
.make-gift-main{
    background: url(../img/make-gift/banner-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Accordians  */
.secure-accordians .card-header button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px !important;
}

.secure-accordians .card-header button .title-acc {
    font-size: 27px;
    font-weight: 700;
    color: #5d2468;
    margin-left: 31px;
}

.secure-accordians .card-header button {
    text-decoration: none;
    padding: 0;
}

.secure-accordians .card-header {
    padding: 14px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5d2468;
}

.secure-accordians .card {
    border: none;
    border-bottom: 1px solid #5d2468 !important;
}
.secure-content-area p{
    color: #5d2468;
    line-height: 25px;
}
.secure-content-area h3, .secure-content-area a {
    color: #5d2468;
}
.secure-content-area h3,.secure-content-area span {
    font-weight: 700;
}
.secur-tran-detail h3 {
    padding-bottom: 26px;
    display: flex;
    align-items: center;
}
span.space-bet {
    height: 52px;
    display: table;
}
.secur-tran-detail h3 img {
    margin-right: 15px;
}
.secur-tran-detail p {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
}

.secure-pay-details span {
    width: 24.4%;
}
.payments-check {
    padding: 45px 0 45px;
}

.payments-check h3 {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}
.payments-check h3 img{
    margin-right: 15px;
}
.ofice-resource h3 {
    padding-bottom: 16px;
}

.ofice-resource p {
    padding-bottom: 15px;
}
.secure-content-area {
    padding: 35px 0;
}

.secure-accordians .card-body {
    padding: 0;
}
.secure-accordians {
    padding: 55px 0;
}
.sec-bottom-con {
    padding-top: 50px;
}

.sec-bottom-con p {
    padding-bottom: 20px;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    padding: 0 16%;
}

.sec-bottom-con p:first-child {
    padding-bottom: 20px;
}
.secure-content-area > p {
    padding: 27px 0 20px;
    font-size: 15px;
}

a.give-now {
    padding: 10px 31.5px;
    display: table;
    background: #5d2468;
    color: #fff !important;
    margin-bottom: 51px;
    font-size: 16px;
    transition: all 0.5s;
    border: 1px solid #5d2468;
}
.secur-tran-detail.uk-details span {
    width: 33%;
}
.main-accor-title {
    display: flex;
    align-items: center;
}
.flg-acc img {
    width: 37px;
}

span.flg-acc {
    display: flex;
    align-items: center;
}
.secure-accordians .card-header button i {
    font-size: 17px;
    color: #5d2468;
}
/* Accordians  */

/* MAKE A GIFT PAGE CSS*/


/* IMPACT PAGE CSS */

/* Banner */
.impact-page {
    background-image: url(../img/impact/banner-image.webp);
    height: 80vh;
}
/* Banner */

/* Impact Slider */
section.impact-stories.impact-page-sec {
    padding: 88px 30px 0 30px;
}
.impact-stories.impact-page-sec .owl-stage {
    padding: 14px 0 20px 0 !important;
}
.impact-page-sec .owl-theme .owl-nav {
    margin-top: 10px;
    /* display: flex; */
    justify-content: space-between;
    width: 128px;
    margin: 51px auto 0;
    position: relative;
    z-index: 999;
}
.impact-page-sec .owl-nav i {
    border: 1px solid #5d2468;
    color: #5d2468;
    padding: 11px 16px;
}
.impact-page-sec .owl-theme .owl-nav [class*=owl-]:hover  i, .new-inner .owl-theme .owl-nav [class*=owl-]:hover i {
    background: #5D2468 !important;
    color: #fff !important;
}

/* Impact Slider */
.impact-page-sec .stud-box p {
    font-size: 14px;
    line-height: 16px;
    height: 49px;
}
.impact-page-sec h1.sec-heading {
    padding-bottom: 30px;
}

/* IMPACT PAGE CSS */


/* ABOUT PAGE CSS */
/* Banner */
.about-page{background-image: url(../img/about/banner-image.webp);height: 80vh;}
/* Banner */

/* About Content Area */
.about-content-area {
    padding: 59px 0 0;
}
.about-con-inner p {
    text-align: center;
    line-height: 25px;
    color: #5D2468;
    padding-bottom: 35px;
}

.about-con-inner h4 {
    text-align: center;
    line-height: 33px;
    font-size: 35px;
    color: #5D2468;
    font-weight: 600;
    font-family: 'ArnoPro';
}
/* About Content Area */


/* ABOUT PAGE CSS */


/* CONTACT PAGE CSS */


/* Banner */
.contact-page .main-head {
    background-color: #5d2468 !important;
    box-shadow: 0 0 14px 1px #00000094 !important;
    padding-block: 7px;
    /* position: fixed !important;
    width: 100% !important; */
}
.contact-page {
    background-image: none !important;
    height: auto !important;
    padding: 0 !important;
}
/* Banner */

/* Contact Content Area */
.contact-content-inner h3, .contact-content-inner a ,.contact-content-inner p{
    font-size: 24px;
    color: #5d2468;
    text-align: center;
}
.contact-content-inner h3{
    font-weight: 700;
    padding-bottom: 15px;
}
.contact-content-inner p {
    padding-bottom: 40px;
    line-height: 32px;
}
.contact-content-area {
    padding: 90px 0 60px;
}
/* Contact Content Area */


/* CONTACT PAGE CSS */


/* BACK TO TOP ANIMATION */
a.back-top-click {
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 999;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    background: #fff;
    justify-content: center;
    border: 1px solid #5d2468;
    transition: all 0.5s;
    opacity: 0;
}
.top-anim{
    opacity: 1 !important;
}
a.back-top-click:hover{
    box-shadow: 0 0 8px 0 #00000091;
}
a.back-top-click img {
    width: 62%;
    position: relative;
    animation: mymove 2s infinite;
}
@keyframes mymove {
    0%   {top: 0px;}
    75%  {top: -10px}
    100% {top: 0px;}
}
.back-top-click h3 {
    font-size: 18px;
    font-family: 'ArnoPro';
    color: #5d2468;
    margin-top: 11px;
}
/* BACK TO TOP ANIMATION */




/* OUR COMMUNITY PAGE CSS */
.commun-banner {
    background-image: url(../img/community/banner-image.webp);
    height: 80vh;
}
.commun-para .para-ara-con {
    padding-bottom: 0;
}
.commun-para .para-ara-con p {
    font-weight: 600;
}
section.impact-stories.our-com-impac {padding: 50px 20% 0;}
.our-com-impac .stud-box {
    margin-bottom: 25px;
}
.p-xs-0{
    padding: 0 !important;
}
/* OUR COMMUNITY PAGE CSS */


/* OUR TEAM PAGE CSS */

.meet-our-team-area {
    padding: 90px 0 100px;
}
.team-con-box h2 {
    font-size: 32px;
    padding-bottom: 9px;
    color: #5D2468;
    font-family: 'ArnoPro';
    font-weight: 700;
}

.team-con-box p, .team-con-box a {
    color: #5d2468;
    line-height: 25px;
}
.meet-our-team-area h1.sec-heading {
    font-size: 80px;
}
.team-con-box p {
    padding-bottom: 4px;
}
.team-con-box:last-child {
    padding-bottom: 0;
}
.team-con-box {
    padding-bottom: 40px;
}
.our-team-content {
    border: 1px solid #b1b1b1;
    border-right: 1px solid transparent;
    padding: 45px 55px;
    margin: 50px 0;
}

/* Form */
.our-team-form h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 18px;
    color: #5D2468;
}

.our-team-form p {
    color: #5D2468;
    line-height: 26px;
}

.our-team-form {
    box-shadow: 0 12px 26px 1px #cac2c2;
    padding: 45px;
    height: 100%;
}
.get-team-form .form-group input {
    height: 82px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0 20px;
}
.get-team-form .form-group select {
    height: 82px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0 20px;
    font-size: 22px;
    color: #aeaeae;
    appearance: none;
    outline: none;
}
.slec-item i {
    position: absolute;
    top: 33px;
    right: 29px;
    color: #b1b1b1;
    pointer-events: none;
}
.slec-item {
    position: relative;
}
.get-team-form .form-group input::placeholder{
    color: #aeaeae;
    font-size: 22px;
    text-transform: capitalize;
}
.get-team-form .form-group textarea::placeholder{
    color: #aeaeae;
    font-size: 22px;
    text-transform: capitalize;
}
.get-team-form .form-group textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 30px 20px 0;
    outline: none;
}
.get-team-form {
    margin-top: 36px;
}
button.send-btn:hover {
    box-shadow: 0 70px 0 0 inset #fff;
    border-color: #5d2468;
    color: #5d2468;
}

button.send-btn {
    border-radius: 0;
    width: 28%;
    height: 62px;
    font-size: 24px;
    font-weight: 400;
    color: #Fff;
    background-color: #5d2468;
    transition: all 0.5s;
    border: 1px solid transparent;
}
.btn-set{
    display: flex;
    justify-content: flex-end;
}

/* Form */

/* OUR TEAM PAGE CSS */






/* News Modal */

.modal-box-news .modal-dialog {
    max-width: 57%;
    top: 40%;
    transform: translateY(-50%) !important;
}
.modal-inner-box { 
    border: 5px solid #CFB381;
    padding: 27px;
}
.modal-inner-box button.close {
    color: #Fff;
    background: #5d2468;
    opacity: 1;
    padding: 6px 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
}
.modal-inner-box p {
    font-size: 22px;
    color: #000;
    line-height: 30px;
}
.modal-inner-box a.read-more-modal {
    color: #5d2468;
    font-size: 18px;
    padding: 12px 0;
    margin-top: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.modal-inner-box {
    border: 5px solid #CFB381;
    padding: 50px 79px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.modal-inner-box a.read-more-modal img {
    width: 10%;
    margin-left: 7px;
    margin-top: 3px;
    animation: readmore 1.5s forwards infinite;
}
@keyframes readmore {
	0% {
		transform: translateX(0px);
	}
    75% {
		transform: translateX(7px);
	}
	100% {
		transform: translateX(0px);
	}
}
.modal-inner-box a.read-more-modal span {
    position: relative;
}

.modal-inner-box a.read-more-modal span:after {
    height: 1px;
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0%;
    background-color: #5d2468;
    left: 0;
    transition: all 0.5s;
}
.modal-inner-box a.read-more-modal:hover span:after{
    width: 100%;
}
.white{
    color: #fff !important;
}
.impact-stories .lrn-more:hover {
    color: #5D2468 !important;
}

.fancybox-navigation {
    display: none;
}
button.fancybox-button.fancybox-button--thumbs {
    display: none;
}